.section2__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: ". img2 img2 . ." "img1 img2 img2 img3 img4" "img1 img5 img6 img6 img4" ". . img6 img6 .";
}

.section2__img1 {
  grid-area: img1;
}

.section2__img2 {
  grid-area: img2;
}

.section2__img3 {
  grid-area: img3;
}

.section2__img4 {
  grid-area: img4;
}

.section2__img5 {
  grid-area: img5;
}

.section2__img6 {
  grid-area: img6;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pieContainer {
  height: 150px;
  position: relative;
  width: 200px;
}

.pieBackground {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.pie {
  transition: all 1s;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  clip: rect(0px, 75px, 150px, 0px);
}

.hold {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  clip: rect(0px, 150px, 150px, 75px);
}

#pieSlice1 .pie {
  background-color: #1b458b;
  transform: rotate(30deg);
}

#pieSlice2 {
  transform: rotate(30deg);
}

#pieSlice2 .pie {
  background-color: #0a0;
  transform: rotate(60deg);
}

#pieSlice3 {
  transform: rotate(90deg);
}

#pieSlice3 .pie {
  background-color: #f80;
  transform: rotate(120deg);
}

#pieSlice4 {
  transform: rotate(210deg);
}

#pieSlice4 .pie {
  background-color: #08f;
  transform: rotate(10deg);
}

#pieSlice5 {
  transform: rotate(220deg);
}

#pieSlice5 .pie {
  background-color: #a04;
  transform: rotate(70deg);
}

#pieSlice6 {
  transform: rotate(290deg);
}

#pieSlice6 .pie {
  background-color: #ffd700;
  transform: rotate(70deg);
}

.innerCircle {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #444;
  border-radius: 100%;
  top: 15px;
  left: 15px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) inset;
  color: white;
}

.innerCircle .content {
  position: absolute;
  display: block;
  width: 120px;
  top: 30px;
  left: 0;
  text-align: center;
  font-size: 14px;
}

.contact__container {
  position: relative;
}

.contact_carte__container {
  position: relative;
}

.contact_form__container {
  position: absolute;
  top: 10%;
  left: 52%;
  z-index: 99;
  background-color: #cac5c5;
  border: black 1px solid;
  padding: 12px;
  border-radius: 12px;
  max-width: calc(30rem - 5px);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.member__body--min-height {
  min-height: 32rem;
}

.member__profile {
  top: -50px;
  left: 0;
}
.member__profile img {
  width: 100px;
  height: 100px;
}

.nav--droite {
  background-color: salmon;
  align-items: flex-end;
  padding: auto;
  color: blue;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer {
  align-items: center;
}

.contactUs {
  display: flex;
}

.contact i {
  padding: 0.2rem;
}

.finalLogo {
  width: 10rem;
}

.logo {
  display: grid;
  place-content: center;
}

.endMenu ul {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  list-style-type: none !important;
}

.endMenu li {
  padding: 1rem;
}

.nomPrenom {
  display: flex;
}

.btn-primary {
  width: 25%;
  margin: 1rem;
}

.statistique {
  display: flex;
  justify-content: flex-end;
}

.totalPie {
  width: 50%;
}

.pourcentage {
  display: flex;
  justify-content: space-between;
  width: 49%;
}

.recherche {
  background-color: gray;
}

.recherche1 {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.textSecondaire {
  text-align: center;
}

.recherche__citation {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  margin: 3rem;
}

.btn-rechercher {
  width: 8rem;
  margin: 1rem;
}

.carousel-center img {
  width: 100%;
  height: auto;
}

cite {
  font-size: 1.5rem;
}

.texte-important {
  width: 50%;
  margin: 0 auto;
}

.texte-important p {
  margin: 5rem;
}
/*# sourceMappingURL=style.css.map */