@font-face {
  font-family: "FF";
  src: url("/assets/fonts/finalf.ttf"); /*Copyright©  Juan Pablo Reyes Altamirano (https://www.fontspace.com/juan-pablo-reyes-altamirano/)*/
}

$base-color: #fdfdfd;

$bloc-color: #eeeeee;

$citation-color: #99bbee;

$hr-color: #5fa1a2;
