@import "constants";
@import "mixim_bem";
.nav {
  @include modifier("blue") {
    color: blue;
    align-items: flex-end;
    padding: auto;
  }

  @include element("finalLogo") {
    width: 10rem;
  }

  @include element("logo") {
    display: grid;
    place-content: center;
  }
}
