@import "constants";
@import "mixim_bem";

.recherche {
  /* CSS declarations for `.block` */

  background-color: $bloc-color;

  @include element("citation") {
    background-color: $citation-color;
    font-family: "FF";

    justify-content: space-evenly;
    align-content: space-around;
    margin: 3rem;

    @include modifier("italic") {
      /* CSS declarations for `.block--modifier__element` */
      font-style: italic;
    }
  }

  @include modifier("blue") {
    color: darkblue;
  }
}

.recherche1 {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}
.btn-rechercher {
  width: 8rem;
  margin: 1rem;
}

cite {
  font-size: 1.5rem;
}
