@import "mixim_bem";

.recherche {
  /* CSS declarations for `.block` */

  text-align: center;
  font-family: "FF";
  @include element("citation") {
    font-size: 1.3rem;

    @include modifier("italic") {
      /* CSS declarations for `.block--modifier__element` */
      font-style: italic;
    }
  }

  @include modifier("center") {
    text-align: center;
  }

  @include modifier("border") {
    background-color: lightblue;
    border-radius: 5%;
    border: 1px solid black;
  }
}
