@use "mixim_bem";
@use "accessibilite";
@use "nav";
@use "carousel";
@use "section1";
@use "section2";
@use "recherche";
@use "statistique";
@use "contact";
@use "footer";
@use "form";
@use "members";

@import "constants";
body {
  background-color: $base-color;
}
.separateur {
  border: 5px solid $hr-color;
  border-radius: 5px;
}
