@use "constants";
@use "mixim_bem";

@use "nav";
@use "form";
@use "section2";
@use "recherche";
@use "statistique";
@use "contact";
@use "members";

.btn-primary {
  width: 25%;
  margin: 1rem;
}

.recherche {
  background-color: gray;
}

.recherche1 {
  background-color: gray;
  text-align: center;
  font-family: "FF";
}
